.music-library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
.song {
    border: 1px inset white;
    padding: 10px;
    border-radius: 30px;
}
.song h2, .song p {
    margin: 0;
}
body{
    background-color: white;
    background-image: url(hungrianovo.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 100%;
    
}
img{
    width: 250px;
    height: 200px;
    border-radius: 15px;
}
h1{
    color: rgb(15, 124, 124);
    background-color: white;
    border-radius: 30px;
    padding: 15px;

}
h2 {
    color: rgb(163, 215, 224);
}
h3 {
    color: rgb(153, 209, 209);
}
p {
    color:rgb(144, 201, 201);
}
a{
    font-size: 25px;
    color:  rgb(21, 65, 73);
    text-decoration: none;
    background-color: rgb(199, 211, 221);
    padding: 7px;

    border-radius: 20px;

}